@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fff;
    color: #000;
}
body{
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

input[type="text"]{
  outline: none !important;
}

select{
  outline: none !important;
}

input[type="email"]{
  outline: none !important;
}
input[type="file"]{
  outline: none !important;
}

input[type="search"]{
  outline: none !important;
}

input[type="password"]{
  outline: none !important;
}

.container {
  display: grid;
}

.content, .overlay {
  grid-area: 1 / 1;
}
/* .radialGradient{
  background-image: url('https://images.pexels.com/photos/955393/pexels-photo-955393.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
  object-fit: cover;
  background-repeat: no-repeat;
  background-image: radial-gradient(#6157A0, #6157A0);
} */

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5rem;
  left: 0;
  background-color: #6157A0;
  color : white;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; bg-[#6157A0] */
}
#backdrop{
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.1);
  height: 100vh;
  top: 5rem;
  left: 0;
}

#loader{
  position: fixed;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


#backDropLoader{
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal{
  box-shadow: 0 1px, 4px, rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: white;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* left: calc(50% - 10rem); */

}

.dialog{
  position: fixed;
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

::-webkit-file-upload-button{
  outline: none;
  float: right;
  border: none;
  padding: 8px;
  background-color: #E5E5E5;
  border-radius: 5px;
  color: #838787;
  cursor: pointer;
  /* display: none; */
}